/* Taken from Module 2 - Universal styling, change later */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }


  /* Header | Nav */

  header {
    display: center;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #fce138;
  }
  
  header a {
    text-decoration: none;
    color: #fce138;
  }
  
  header nav {
    margin: 7px 0;
  }